.navbar2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  width: 100vw;
  height: 70px;
  border-width: 1px;
  position: fixed;  /* Fix the navbar's position relative to the viewport */
  box-shadow: 8px 8px 24px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;   /* Ensure the navbar is above other elements */
  background: rgba(255, 255, 255, 0.7); /* Example background with slight transparency */
  backdrop-filter: blur(80px);
  border-bottom: 1px solid #fff;
  padding: 0 75px;
}
  
  .nav2-left-side{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .navbar-brand2{
    display: flex;
    align-items: center;
  }

  img.navbar-ArrowBack {
    margin-right: 40px;
    width: 30px;
    height:40px;
    cursor: pointer;
  }
  

  .nav2-label{
    display: block;
    font-family: Inter;
    position: absolute;
    font-size: 14px;
    font-weight: 500;
    opacity: 0.5;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  .nav2-links{
    font-size: 18px;
    font-weight: 500;
  }




  @media (min-width: 1600px) {
    .nav2-label{
      font-size: 16px;
    }
    .navbar2{
      padding: 0 80px;
    }
  }

@media (max-width:1100px){
  .nav2-label{
    display:none;
  }
}
  @media (max-width:930px){
   
    .navbar2{
      padding: 0 50px;
    }
    img.navbar-ArrowBack {
      margin-right: 25px;
    }

}


@media (max-width: 650px){

  .nav2-links{
    font-size: 16px;
    font-weight: 500;
  }
}

@media (max-width:535px) {
  img.navbar-ArrowBack {
    margin-right: 25px;
  }

  /* Navbar.css */
  .navbar2{
    padding: 0 35px;
  }


}


@media (max-width:530px) {
  img.navbar-ArrowBack {
    margin-right: 15px;
  }

  /* Navbar.css */
  .navbar2 {
    padding-right: 25px;
    top: 0px;
  }
}

@media (max-width: 450px) {
  
  .navbar-logo{
    display: none;
  }
}


