.gallery-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    padding-top: 75px;
    align-items: center;
    
  }

.headline-gallery{
  font-family: Brygada1918, serif; /* Replace with the font of your choice */
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 300;
  color: #2E2A1C; /* Adjust the color value to match the desired shade of green */
  text-align: center;
  margin-top: 75px;
  margin-bottom: 75px;
}

.text-block{
  display: flex;
  font-family: Inter;
  margin-bottom: 75px;
  font-size: 18px;
  font-weight: 300;
  justify-content: space-between;
}

.text-block p{
  color: #090909;
  width: 100%;
  margin: 0 80px;
  text-align: left;
}




@media (min-width: 1600px) {
  .headline-gallery {
    font-size: 60px;
    font-weight: 300;
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .text-block{
    margin-bottom: 80px;
    font-size: 20px;
    font-weight: 300;
  }

  .gallery-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    padding-top: 80px;
    align-items: center;
    
  }


.text-block p{
  margin: 0 100px;
}

}

@media (max-width: 1050px){
  .text-block h6{
    display:none;
  }
  .text-block p{
    color: #090909;
    margin-left: 80px;
    margin-right: 80px;
    width: 100%;
  }

  .headline-gallery{
    margin-top: 50px;
    margin-bottom: 50px;

  }

  .text-block{
    margin-bottom: 50px;
  }

  .headline-gallery{

    text-align: center;

    margin-left: auto;
    margin-right: auto;
  }
}


@media (max-width: 650px){
  .gallery-container {
    padding-top: 50px;
  }

  .text-block p{
    color: #090909;
    margin: 0px 50px 0px 50px;

    width: 100%;
    font-size: 16px;
  }

  .headline-gallery{
    font-family: Brygada1918, serif; /* Replace with the font of your choice */
    font-size: 40px;
    font-weight: 300;
    color: #2E2A1C; /* Adjust the color value to match the desired shade of green */
    margin-top: 35px;
    margin-bottom: 35px;

  }

  .text-block{
    margin-bottom: 35px;
  }
}


@media (max-width:420px){
  .text-block p{
    color: #090909;
    margin-left: 25px;
    margin-right: 25px;
    width: 100%;
    font-size: 16px;
  }
}