.single-flat-gallery-container{
    padding-top: 75px;
    font-family: Inter;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 75px;
}


.single-flat-gallery-header{
    display: flex;
    flex-direction: column;
}
.single-flat-gallery-header h1{
    font-family: Playfair Display, sans-serif; /* Replace with the font of your choice */
    font-size: 50px;
    font-weight: 300;
    color: #2E2A1C; /* Adjust the color value to match the desired shade of green */
    margin-top: 0px;
    margin-bottom: 75px;
}
.single-flat-gallery-header p{
    width: 70%;
    margin-top: 0px;
    margin-bottom: 75px;
    font-weight: 300;
    color: #090909;
    align-self: center;
}


@media (min-width:1600px){

    .single-flat-gallery-container{
      padding-top: 80px;
     
      padding-bottom: 80px;
    }
  
    .single-flat-gallery-header h1{
      font-size: 60px;
      margin-bottom: 80px;
    }
  
  
    .single-flat-gallery-header p{
      width: 70%;   
      margin-top: 0px;
      margin-bottom: 80px;
      font-size: 20px;
  }
  }
  
  
  @media (max-width:650px){
    .single-flat-gallery-container{
      padding-top: 50px;
      padding-bottom: 50px;
    }
  
    .single-flat-gallery-header h1{
      margin-bottom: 35px;
      font-size: 40px;
    }
    .single-flat-gallery-header p{
      width: 80%;
      margin-bottom: 35px;
  
      font-size: 16px;
    }
  }
  