.contact-form-container {
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    font-family: Inter;
    font-size: 18px;
    font-weight: 300;
    background-image: url('../../../assets/ContactPageBG3.jpg');
    background-size: cover;
    background-position: center;
    
  }
  
  .contact-info {
    flex-basis: 50%;
    padding: 175px 80px 75px 80px;

 
  }
  .contact-info h2{
    font-family: Playfair Display, sans-serif; /* Replace with the font of your choice */
    font-size: 80px;
    font-weight: 400;
    color: #66952F; /* Adjust the color value to match the desired shade of green */
    text-align: left;
    margin-top: 0px;
    margin-bottom: 75px;
  }


.contact-info h6{
  margin-bottom: 75px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 300;
}


.contact-info p{
  margin-bottom: 40px;
  margin-top: 0px;
}







  .contact-form2 {
    margin-top: 175px;
    max-width: 600px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 75px;
    padding: 50px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 8px 8px 24px 10px rgba(0, 0, 0, 0.1);
    justify-content: end;

  }


  .contact-form2 input::placeholder,
.contact-form2 textarea::placeholder {
  font-family: Inter; /* Specify the font-family of your choice */
  font-size: 16px; /* Set the size of your placeholder font */
  color: #090909; /* Set the color of your placeholder text */
  opacity: 0.5; 
}
 
  .headline-contact{
    text-align: center;
    font-family: Playfair Display, sans-serif; /* Replace with the font of your choice */
    font-size: 50px;
    font-weight: 300;
    color: #66952F; /* Adjust the color value to match the desired shade of green */
    margin-bottom: 75px;
    margin-top: 0;
  }

  .input-row {
    display: flex;
    gap: 20px;
    
  }
  
  .input-row input {
    flex: 1;
    
  }
  
  .contact-form2 input,
  .contact-form2 textarea,
  .contact-form2 button {
    width: 100%;
    padding: 15px;
    margin-bottom: 35px;
    border: 1px solid #d9d9d9;
    font-family: Inter;
    font-size: 18px;
    font-weight: 300;
  }
  

  .contact-form2 button {
    border-radius: 10px;
    border:none;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 0;
  }

  .contact-form2 input:focus,
.contact-form2 textarea:focus {
  outline-color: #66952F;
}


  .contact-form2 input, .contact-form2 textarea{
    border-radius: 4px;
  }
  .contact-form2 textarea {
    margin-bottom: 20px;
    height: 150px;
  }


  
  .submit-button {
    background-color: #66952F;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: Inter;

    height: 60px;
    transition: box-shadow 0.3s ease-in-out; /* Smooth transition for the glow and lift effect */

    
}

.contact-form2 input [type = 'checkbox']{
    color: #66952F;
    accent-color : #66952F;
}


  
  .submit-button:hover {
    box-shadow: 0 0px 30px rgb(102, 149, 47, 0.5); 
}


  /* Invalid input field */
.contact-form2 input.invalid,
.contact-form2 textarea.invalid {
    width: 100%;
    padding: 15px;
    border: 1px solid #d21c1c;
}

/* Error message styling */
.error-message {
    position: absolute;
    margin-top: -35px;
    color: red;
    font-family: Inter;
    font-size: 14px;
    text-align: left;
}


.contact-form2 p{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-top: 0;
    margin-bottom: 20px;
    color: #090909;
    opacity: 0.3;
}

.success-popup {
    position: fixed;
    font-family: Inter;
    font-size: 24;
    font-weight: 500;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #66952F;
    color: #f5f5f5;
    padding: 50px 100px 50px 100px;
    border-radius: 15px;
    z-index: 1000; 
    box-shadow: 0 0px 30px rgb(102, 149, 47, 0.35); 
  }
  
  