.space{
    margin-top: 75px;
}
.last1{
    margin-bottom: 75px !important;
}

@media (min-width:1600px) {
    .space{
        margin-top: 80px;
    }
}

@media (max-width:1280px) {
    .space{
        margin-top: 50px;
    }
}

@media (max-width:650px) {
    .space{
        margin-top: 35px;
    }
}

@media (max-width:420px) {
    .space{
        margin-top: 25px;
    }
}