.NoDataFound{
    font-family: Inter;
    font-size: 26px;
    font-weight: 500;
    align-self: center;
    padding: 500px 80px 500px 80px;
    text-align: center;
    color: #d9d9d9; 
    background-color: #fff;
  }

  .location-gallery-header, .pool-gallery-header, .gym-gallery-header, .solar-panels-gallery-header{
    display: flex;
    flex-direction: column;
}

  .gym-gallery, .pool-gallery, .location-gallery, .solar-panels-gallery{
    padding-top: 150px;
    font-family: Inter;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 0px;
  }

  .gym-gallery h1, .pool-gallery h1, .location-gallery h1, .solar-panels-gallery h1{
    font-family: Brygada1918, serif; /* Replace with the font of your choice */
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 300;
    color: #B3A57C; /* Adjust the color value to match the desired shade of green */
    margin-top: 0px;
    margin-bottom: 50px;
  }


  .gym-gallery p, .pool-gallery p, .location-gallery p, .solar-panels-gallery p{
    width: 70%;    margin-top: 0px;
    font-size:18px;
    margin-bottom: 75px;
    font-weight: 300;
    color: #090909;
    align-self: center;
    text-align: left;

}

@media (min-width:1600px){

  .gym-gallery, .pool-gallery, .location-gallery, .solar-panels-gallery{
    padding-top: 160px;
   
  }

  .gym-gallery h1, .pool-gallery h1, .location-gallery h1, .solar-panels-gallery h1{
    font-size: 60px;
    margin-bottom: 80px;
  }


  .gym-gallery p, .pool-gallery p, .location-gallery p, .solar-panels-gallery p{
    width: 70%;    margin-top: 0px;
    margin-bottom: 80px;
    font-size: 20px;
    font-weight: 300;
    color: #090909;
    align-self: center;
}
}


@media (max-width:650px){
  .gym-gallery, .pool-gallery, .location-gallery, .solar-panels-gallery{
    padding-top: 100px;
  }

  .gym-gallery h1, .pool-gallery h1, .location-gallery h1, .solar-panels-gallery h1{
    margin-bottom: 35px;
    font-size: 40px;
  }
  .gym-gallery p, .pool-gallery p, .location-gallery p, .solar-panels-gallery p{
    width: 80%;
    margin-bottom: 35px;

    font-size: 16px;
  }
}
