.empty{
    background-color: #fff;
    width: 100vw;
    margin-top: 75px;
}

@media (min-width: 1600px) {
    .empty{
        margin-top: 80px;
    }
}

@media (max-width: 650px) {
    .empty{
        margin-top:  50px;
    }
}