.benefits-container{
    padding-top: 150px;
    font-family: Inter;
    font-weight: 300;
    overflow: hidden;
    padding-bottom: 75px;
}


.HeadlineBenefits{
    font-family: Playfair Display, sans-serif; /* Replace with the font of your choice */
    font-size: 50px;
    font-weight: 300;
    color: #66952F; /* Adjust the color value to match the desired shade of green */
    text-align: center;
    
    margin-top: 0px;
    margin-bottom: 75px;
  }
  .head-container{
    display: flex;
    flex-direction: row;
    margin-left: 160px;
    margin-right: 80px;
    justify-content: space-between;
  }


  .head-container p{
    font-weight: 400;
  }

  .content-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-content: space-between;
    color: #090909;

  }

  

  .quality-container, .solars-container, .community-container{
    display: flex;
    flex-direction: column; /* Organizes the icon and text in a column */
    align-items: center; /* Centers the content */
    margin-left: 0px;
    margin-right: 0px;
  }

  .solars-container img{
    margin-right: 50px;
    margin-left: 50px;
    
  }

  .quality-container img{
    align-items: start; /* Centers the content */
  }


  .community-container img{
    align-items: end; /* Centers the content */
  }

  .quality-container img, .solars-container img, .community-container img{
    display: block;
    height: 300px;
    border-radius: 15px;
    width: 300px;
  }

  .solars-container img{
    width: 400px;

  }


  .quality-container h6, .solars-container h6, .community-container h6{
    font-size: 18px;
    font-weight: 500;
    margin-top: 75px;
    margin-bottom: 35px;
  }

  .quality-container p, .community-container p{
    font-size: 18px;
    width: 300px;
    margin: 0px;
    text-align: justify;
  }



  .solars-container p{
    font-size: 18px;
    width: 400px;
    margin: 0px;
    text-align: justify;

  }


@media (min-width: 1600px){

  .benefits-container{
    padding: 160px 100px 80px 100px;
  }


  .quality-container h6, .solars-container h6, .community-container h6{
    font-size: 20px;
  }
  .quality-container p, .community-container p{
    font-size: 20px;
    width: 300px;
    margin: 0px;
    letter-spacing: 110%;
  }



  .solars-container p{
    font-size: 20px;
    margin: 0px;
    letter-spacing: 110%;
  }

  .quality-container img, .community-container img {
      height: 375px;
      width: 375px;
  }

  .solars-container img {
      width: 450px;
      height: 375px;
  }

  .quality-container p, .community-container p {
      width: 375px; /* Adjust if needed */
  }

  .solars-container p{
    width:450px;
  }


  .HeadlineBenefits{
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 80px;
  }

  .head-container{
    display: flex;
    flex-direction: row;
    margin-left: 160px;
    margin-right: 50px;
    justify-content: space-between;
  }


  .head-container p{
    font-size: 20px;
  }

  .solars-container img{
    margin-right: 100px;
    margin-left: 100px;
    
  }

}



@media (max-width: 1280px) {
  .head-container {
      flex-direction: column;
      align-items: center;
      margin: 0 40px;
  }

  .content-container {
      grid-template-columns: repeat(3, 1fr); /* Decrease number of columns */
  }

  .quality-container, .solars-container, .community-container {
      margin: 20px 0; /* Adjust spacing */
  }

  .quality-container img,  .community-container img {
      height: 250px; /* Scale down image size */
      width: 250px;
  }

  .solars-container img{
    height: 250px;
    width: 350px;
  }
  .solars-container p, .quality-container p, .community-container p {
      width: 250px; /* Match image width */
  }
  .solars-container p{
    width: 350px;
  }

  .HeadlineBenefits{
    font-family: Playfair Display, sans-serif; /* Replace with the font of your choice */
    font-size: 50px;
    font-weight: 300;
    color: #66952F; /* Adjust the color value to match the desired shade of green */
    text-align: center;
    
    margin-top: 0px;
    margin-bottom: 75px;
  }
  .head-container{
    display: flex;
    flex-direction: row;
    margin-left: 160px;
    margin-right: 80px;
    justify-content: space-between;
  }


  .head-container p{
    font-weight: 400;
  }
}


@media (max-width: 1050px) {

  .benefits-container{
    padding-top: 125px;
}

  .HeadlineBenefits {
    margin-bottom: 50px;

  }

  .quality-container img, .solars-container img, .community-container img {
      height: 200px; /* Further scale down image size */
      width: 200px;
  }

  .quality-container p, .community-container p, .solars-container p {
      width: 200px; /* Match image width */
  }
  .solars-container img{
    height: 200px; /* Further scale down image size */
    width: 300px;
  }
  .solars-container p{
    width: 300px; /* Match image width */
  }

  .head-container{
    display: flex;
    flex-direction: column;
    margin: 0px;
  }
  .head-container p{
    margin: 0px 0px 25px 0px;
  }
}


@media (max-width: 900px){

.solars-container{
  grid-row: 1 / 2;
}
  .content-container {
    grid-template-columns: 1fr;
    gap: 50px; /* Adjust this value to control space between grid items */
    margin: 0px 80px; /* Consider adjusting this if necessary */
  }

  .solars-container, .quality-container, .community-container{
    /* Reset margins if they're no longer necessary in a single-column layout */
    margin: 0px;
  }

  /* Adjust image and text spacing if needed */
  .solars-container h6, .community-container h6, .quality-container h6{
    margin-top: 50px; /* Adjust top margin to control spacing above the header */
    margin-bottom: 25px; /* Control spacing between the header and paragraph */
  }

  .quality-container img, .solars-container img, .community-container img{
    width: 100%; /* Makes image responsive within the container */
    height: 300px; /* Adjust height automatically to maintain aspect ratio */
  }

  .solars-container p, .community-container p, .quality-container p{
    width: 100%; /* Allow text to fill the container width */
  }
}





@media (max-width:650px)
{
  .head-container h2{
    font-size: 40px;
    margin-top: 35px;
    margin-bottom: 35px;
  }
  .head-container p{
    width: 60%;
    text-align: center;
    margin-bottom: 35px;
  }
  .quality-container p, .community-container p, .solars-container p {
      font-size: 16px; /* Adjust font size */
  }

  .quality-container h6, .community-container h6, .solars-container h6 {
    font-size: 16px; /* Adjust font size */
    margin-top: 35px;
    margin-bottom: 20px;
}
  .benefits-container{
    padding: 50px 0px 50px 0px;
  }
  .content-container {
      grid-template-columns: 1fr;
      gap: 35px; /* Adjust this value to control space between grid items */
      margin: 0px 50px;
  }
  .quality-container img, .solars-container img, .community-container img{
    width: 100%; /* Makes image responsive within the container */
    height: 200px; /* Adjust height automatically to maintain aspect ratio */
  }



}




@media (max-width: 420px){

.content-container{
  margin-left: 25px;
  margin-right: 25px;
}

}